.arrow {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  border: 5px solid;
  border-color: rgba(#fff, .15) rgba(#fff, .15) transparent transparent;
  transform: translateY(-50%) rotate(-135deg);
  cursor: pointer;
  transition: all .2s ease-in-out, color .1s;

  @media only screen and (max-width: 700px) {
    width: 5rem;
    height: 5rem;
  }

  &:hover {
    border-color: #fff #fff transparent transparent !important;
  }

  &::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%) rotate(45deg);

    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}

.left-arrow {
  left: 10rem;

  @media only screen and (max-width: 700px) {
    left: 5rem;
  }
}

.right-arrow {
  right: 10rem;
  transform: translateY(-50%) rotate(45deg);

  @media only screen and (max-width: 700px) {
    right: 5rem;
  }
}