@import "~@/assets/variables";

.container {
  @media only screen and (max-width: 1170px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4.5rem;
  }
}

.title {
  color: $color-dark;
  font-size: 2.2rem;
  font-weight: $fw-regular;
  margin-bottom: 3.6rem;
  line-height: 3.2rem;

  @media only screen and (max-width: 1170px) {
    text-align: right;
    margin-bottom: 0;
  }
}

.address {
  font-weight: $fw-regular;
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #6a737b;
}