.loader {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 600;

  &.visible {
    opacity: 1;
  }
}

.loader:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #fff transparent #fff transparent;
  animation: loaderAnim 1.2s linear infinite;
}

@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
