@import "~@/assets/variables";

.container {
  margin-top: 10rem;
}

.subHeading {
  padding: 0 33.5rem;
  font-weight: $fw-s-bold;
  color: $color-dark;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 4.8rem;
  margin-top: 3.6rem;
}