@import "~@/assets/variables";

/********************
** NAV-BAR
********************/
.navbar {
  position: absolute;
  width: 100%;
  background-color: rgba(16, 22, 54, .2);
  z-index: 500;

  @media only screen and (max-width: 960px) {
    position: static;
    background-color: $color-dark;
  }
}

.container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/********************
** LOGO
********************/
.logo {
  &-container {
    display: flex;
    align-items: center;
    height: 2.5rem;
  }

  &-icon {
    fill: #fff;
    height: 9.5rem;
  }
}

/********************
** TAG-LINE
********************/
.tagline {
  position: relative;
  padding: 3.2rem 0 2.1rem 2.1rem;
  margin-left: 2rem;
  font-weight: $fw-light;
  color: #fff;
  font-size: 1.3rem;
  opacity: .5;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    background-color: #32b0ee;
    height: 1.7rem;
    width: 1px;
  }

  @media only screen and (max-width: 650px) {
    display: none;
  }
}

/********************
** NAVIGATION
********************/
.navigation {
  margin: 0;
  display: flex;
  list-style: none;

  &-item {
    border-top: 1px solid transparent;
    transition: all .2s;

    &:hover {
      background-color: #32b0ee;
    }

    &-active {
      border-color: #32b0ee;
    }

    a {
      display: block;
      padding: 3.2rem 2.1rem 2.1rem 2.1rem;
      text-decoration: none;
      color: #fff;
      font-size: 1.3rem;
      font-weight: $fw-light;
      transition: all .2s;
    }
  }
}