@import "~@/assets/variables";

.container {
  padding: 10rem 21rem;
}

.subHeading {
  padding: 0 10rem;
  font-weight: $fw-s-bold;
  color: $color-dark;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 10.8rem;
  margin-top: 3.6rem;
}