@import "~@/assets/variables";

.container {
  padding: 10rem 21rem;

  @media only screen and (max-width: 1280px) {
    padding: 8rem 11rem;
  }

  @media only screen and (max-width: 960px) {
    padding: 4rem;
  }

  @media only screen and (max-width: 640px) {
    padding: 4rem 2rem;
  }
}

.subHeading {
  padding: 0 10rem;
  font-weight: $fw-s-bold;
  color: $color-dark;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 10.8rem;
  margin-top: 3.6rem;

  @media only screen and (max-width: 960px) {
    margin-bottom: 5.4rem;
  }

  @media only screen and (max-width: 640px) {
    padding: 0 4rem;
  }
}