@import "~@/assets/variables";

.container {
  display: grid;
  justify-content: space-around;
  align-items: center;

  @media only screen and (max-width: 1450px) {
    grid-column: 1 / -1;
    justify-content: space-between;
    grid-auto-flow: column;
  }
}

.link {
  &:hover .link-icon {
    fill: $color-dark;
  }
}

.link-icon {
  width: 2.6rem;
  height: 2.6rem;
  fill: rgba(#000, .2);
  transition: fill .2s;
}