/// Colors
$color-white: #fff;
$color-primary: #0feb9e;
$color-primary-dark: #0eb493;
$color-dark: #062033;

/// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-s-bold: 600;
$fw-bold: 700;
$fw-x-bold: 1000;

/// Mixins
@mixin container() {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1210px) {
    width: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}