@import "~@/assets/variables";

/*************************************/
/** HEADING
/*************************************/
.heading {
  font-size: 6.2rem;
  font-weight: $fw-light;
  color: #fff;
  margin: 0;

  @media only screen and (max-width: 1130px) {
    font-size: 5rem;
  }

  /// Highlight
  span {
    font-weight: $fw-bold;
  }
}


/*************************************/
/** SUB HEADING
/*************************************/
.sub-heading {
  font-size: 4.8rem;
  font-weight: $fw-light;
  color: #fff;
  margin: 0;

  @media only screen and (max-width: 1130px) {
    font-size: 3.6rem;
  }

  /// Highlight
  span {
    color: $color-primary;
  }
}

/*************************************/
/** DESCRIPTION
/*************************************/
.description {
  display: inline-block;
  position: relative;
  font-size: 1.8rem;
  font-weight: $fw-light;
  color: #fff;
  margin: 0;
  padding: 0 6.6rem;

  @media only screen and (max-width: 1130px) {
    font-size: 1.5rem;
  }

  &:not(:empty):before,
  &:not(:empty):after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-primary;
    height: 1px;
    width: 3rem;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

/*************************************/
/** ICONS
/*************************************/
.icons-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  border-radius: 100rem;
  min-height: 1.6rem;
  justify-self: flex-end;

  @media only screen and (max-width: 800px) {
    bottom: 4rem;
  }

  &:not(:empty) {
    background: rgba(#000, .7);
  }

  & > *:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.icon {
  fill: rgba(#fff, .3);
  width: 1.8rem;
  height: 1.8rem;
  transition: fill .2s;
  cursor: pointer;

  &:hover {
    fill: rgba(#fff, 1);
  }
}