@import "~@/assets/variables";

/********************
** FEATURES
********************/
.container {
  background: $color-dark no-repeat cover;
  padding: 10rem 8.5rem 16rem 8.5rem;

  @media only screen and (max-width: 1430px) {
    padding: 5rem 8.5rem 8rem 8.5rem;
  }

  @media only screen and (min-width: 1280px) {
    background-image: url("@/assets/img/facts/background-1600px.jpg");
  }

  @media only screen and (min-width: 960px) and (max-width: 1280px) {
    background-image: url("@/assets/img/facts/background-1280px.jpg");
  }

  @media only screen and (max-width: 580px) {
    padding: 5rem 3.5rem;
  }
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 25rem));
  justify-content: center;
  align-items: center;
  grid-row-gap: 10rem;
  margin-top: 2.5rem;
}